<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">Add product</div>
    <form action="/admin/add-product" method="post" enctype="multipart/form-data">
    <label for="name">Name</label>
    <input type="text" id="name" name="Name" class="form-control" required>

    <label for="category">Category</label>
    <input type="text" id="category" name="Category" class="form-control" required>

    <label for="price">Price</label>
    <input type="text" id="price" name="Price" class="form-control" required>

    <label for="description">Description</label>
    <input type="text" id="description" name="Description" class="form-control" required>

    <label for="image">Main Image</label>
    <input type="file" id="image" name="Image" class="form-control" required>

    <label for="additionalImages">Additional Images</label>
    <input type="file" id="additionalImages" name="additionalImages" class="form-control" multiple>

    <button type="submit" class="btn btn-success mt-4">Submit</button>
</form>
        </div>
    </div>
</div>